:root {
  --color-light-gray: #a5a5a5;
  --color-orange: #ff9f0a;
  --color-dark-gray: #333333;
  --color-white: #fff;
  --color-black: #010101;
  
  --theme-bg: var(--color-black);
  --theme-numbers-bg: var(--color-dark-gray);
  --theme-right-buttons-bg: var(--color-orange);
  --theme-top-buttons-bg: var(--color-light-gray);
  --theme-top-buttons-color: var(--color-black);
  --theme-text-color: var(--color-white);
}

* {
  color: var(--theme-text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  width: min(90vw, 90vh * 9 / 19.5, 400px);
  aspect-ratio: 9 / 19.5;
  background-color: var(--theme-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 5cqh 2cqw 7cqh 2cqw;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
}

#zero {
  text-align: left;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: right;
  padding: 10px;

  span {
    font-size: 50px;
  }
}

.right-col {
  background-color: #f0f0f0;
}

.top-row {
  background-color: var(--theme-top-buttons-bg);
  color: var(--theme-top-buttons-color);
}

.number {
  background-color: var(--theme-numbers-bg);
}

.right-col {
  background-color: var(--theme-right-buttons-bg);
}

#zero {
  grid-column: span 2;
}

#buttons button {
  font-size: clamp(14px, 5cqw, 28px);
  border-radius: 1000px;
  transition: opacity 0.2s;
  border: none;
  cursor: pointer;
}

#buttons button:not(#zero) {
  aspect-ratio: 1 / 1;
}

#buttons button#zero {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#buttons button:active {
filter: brightness(120%);
}

.highlight {
  background-color: var(--color-white);
  color: var(--theme-right-buttons-bg);
}
