:root {
  --color-light-gray: #737373;
  --color-gray: #565859;
  --color-orange: #ff9f0a;
  --color-dark-gray: #444648;
  --color-white: #e7e7e7;
  
  --numbers-bg: var(--color-light-gray);
  --right-buttons-bg: var(--color-orange);
  --top-buttons-bg: var(--color-gray);
  --text-color: var(--color-white);
}

* {
  color: var(--text-color);
  font-size: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  background-color: var(--color-dark-gray);
  width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 4px;
  padding: 1px;
  border-radius: 8px;
  height: 600px;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 150px;
  text-align: right;
  padding: 10px;

  span {
    font-size: 50px;
  }
}

.right-col {
  background-color: #f0f0f0;
}

.top-row {
  background-color: var(--top-buttons-bg);
}

.number {
  background-color: var(--numbers-bg);
}

.right-col {
  background-color: var(--right-buttons-bg);
}

#zero {
  grid-column: span 2;
}

#buttons button {
  min-height: 60px;
  border-radius: 4px;
  transition: opacity 0.2s;
  border: none;
  cursor: pointer;
}

#buttons button:active {
  opacity: 0.8;
}

.highlight {
  background-color: var(--color-white);
  color: var(--right-buttons-bg);
}
